@import "../../variables";

.Header {
  background: $light-blue;
  font-size: 1.2rem;
  $text-color: black;
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }
  .nav-container {
    display: flex;
    list-style-type: none;
  }
  li {
    padding: 0.3rem 1rem;
    a {
      text-decoration: none;
      color: $text-color;
    }
  }
}
