@import "./variables.scss";

.titleContainer {
  padding: 1rem 0.5rem;
  color: black;
  font-family: "Shippori Mincho B1";
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
  }
  p {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    font-style: italic;
  }
}
.imageContainer {
  box-shadow: 0 0 5px black;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.compact {
  height: 100%;
  flex-direction:column;
  display:flex;
  justify-content:center;
  text-align:center;
  img{
    height: 100%;
    box-shadow:0 0 5px black;
    @media(min-width:1000px){
      overflow:hidden;
    }
  }
  h4{
    font-weight:400;
    font-size:1.4rem;
    color:$light-blue;
  }
  p{
    font-weight:400;
    font-style:italic;
    font-size:0.8rem;
  }
}
