@import "./variables.scss";

.container {
  padding: 1rem;
  background: $bg-main;
  color: $text-main;
  @include main();
  @media (min-width: 1200px) {
    padding: 0 20vw;
  }
}

.title {
  font-weight: 300;
  color: $accent-main;
  font-size: 2.2rem;
  text-align: center;
}
.body {
  margin: 1rem 5vw;
  font-weight: 500;
  font-size: 1rem;
}
.sectionTitle {
  // background: $accent-main;
  color: $accent-main;
  border:1px solid $accent-main;
  box-shadow:0 5px 5px black;
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
.sectionContainer {
  .sectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .sectionImage {
      box-shadow: 0 0 5px black;
      border-radius: 5px;
      overflow: hidden;
      @media (min-width: 1000px) {
        margin-right: 0.6rem;
        width: 40%;
      }
    }
    .sectionBody {
      font-weight: 300;
      font-size: 1rem;
      text-align: justify;
      margin-top: 1rem;
      @media (min-width: 1000px) {
        font-size: 1.1rem;
        margin-top: 0;
        margin-left: 0.6rem;
        width: 50%;
      }
    }

    @media (min-width: 1000px) {
      flex-direction: row;
    }
  }
}

.author {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.featuredItems {
  @include flexColumnCenter();
  flex-wrap: wrap;
  margin: 0 1rem;
}

.featuredItemContainer {
  display: flex;
  align-items: center;
  .heart,
  .heartLiked {
    margin-left: 1rem;
    border-radius: 50%;
    padding: .2rem;
    font-size: 2.6rem;
    transition-duration: 300ms;
    transition-property: color border;
    cursor: pointer;
    &:hover {
      color: $accent-main;
    }
  }
  .heartLiked {
    color: $accent-main;
  }
}
