@import "./variables.scss";

.article {
  height: 100%;
  width:100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content:space-between;
  }
  img {
    box-shadow: 0 0 5px black;
    @media (min-width: 1000px) {
      width: 15rem;
    }
  }
  h4 {
    font-weight: 400;
    font-size: 1.6rem;
    color: $accent-main;
    font-family: "Roboto";
  }
  p {
    font-weight: 300;
    font-style: italic;
    font-size: 0.9rem;
    @media (min-width: 1000px) {
      margin-bottom: 0.5rem;
    }
  }
  .description {
    display: none;
    text-align: justify;
    font-weight: 300;
    font-size: 1rem;
    font-style: normal;
    @media (min-width: 1000px) {
      display: block;
    }
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1000px) {
      margin-left: 2rem;
      width: 60%;
    }
  }
}
