@import "./variables.scss";

.title {
  color: $accent-main;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
}
.form {
  padding: 0 5vw;
  option{
    color:black;
  }
  @media(min-width:800px){
    padding: 0 20vw;
  }
  @media(min-width:1200px){
    padding: 0 30vw;
  }
}

.container{
  @include main();
}

.checkGroupFlex {
  display: flex;
  justify-content: space-evenly;
}

.buttonContainer{
    display:flex;
    justify-content: center;
    margin-top:1rem;
}
