@import "./variables.scss";

.title{
    font-weight:400;
    font-size:1.8rem;
    margin:1rem 0;
    color:$light-blue;
    text-align:center;
}

.addSectionButton{
    margin-top:1rem;
}

.container{
    padding:1rem;
    padding-top:0;
    display:flex;
    flex-direction:column;

    @media(min-width:800px){
        padding:1rem 20vw;
    }
    @media(min-width:1200px){
        padding:1rem 10vw;
        flex-direction:row;
    }
}

.buttonContainer{
    margin:1rem 0;
    display:flex;
    justify-content:space-evenly;
}

.previewContainer{
    margin-top:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}