@import "./variables.scss";

.logoContainer {
  display: flex;
  align-items: center;
  width: 163px;
  // height:512px;
  // .logoImageContainer {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   font-size: 2rem;
  //   width: 45px;
  //   border-radius: 8px;
  //   overflow: hidden;
  // }
  .logoText {
    font-weight: 600;
    margin-left: 0.75rem;
    color: black;
  }
}
.container {
  background: $bg-main;
  font-family: "Roboto";
  // position: absolute;
  // padding-top: 2vh;
  color: white;
  overflow: hidden;
  z-index: 10;
  width: 100%;

  .mobile {
    margin: 0 6vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    font-size: 1.2rem;
    .greetingContainer {
      display: none;
      margin-right: 0.3rem;
    }
    .closetLink {
      font-weight: 600;
    }
    ul {
      display: flex;
      list-style-type: none;
      align-items: center;
    }
    a {
      padding: 0.5rem 0.5rem;
    }
  }
}
.drawerLinks {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  color:$text-main;
  li {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .link {
    display: flex;
    align-items: center;
    .icon {
      font-size: 1.5rem;
      margin-right: 0.6rem;
      color:$accent-main;
    }
  }
}

.loginBtn {
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
  @include whiteColorHover();
}
@media (min-width: 1200px) {
  .container {
    .mobile {
      margin: 0 15vw;
    }
  }
}
@media (min-width: 600px) {
  .container {
    .mobile {
      .greetingContainer {
        display: inline;
      }
    }
  }
}
