@import "./variables.scss";

.main {
  position: relative;
  height: 75vh;
  top: 5vh;
  .splashContainer {
    display: flex;
    justify-content: center;
    .container{
      display:flex;
      box-shadow: 0 0 5px black;
      width: 90%;
      img{
        height:100%;
        width:100%;
      }
      @media(min-width:1000px){
        width:70%;
      }
      @media(min-width:1200px){
        width:50%;
      }
    }
  }
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
    z-index: 1;
    margin-top: 2.5rem;
    h1 {
      line-height: 2.4rem;
      color: $light-blue;
      font-size: 3rem;
      font-weight: 300;
      span {
        color: black;
        padding-left: 4rem;
      }
    }
    p {
      border-left: 3px solid $light-blue;
      margin: 0 1rem;
      margin-top: 5vh;
      font-size: 1.2rem;
      font-weight: 300;
      padding-left: 1rem;
      text-align: left;
    }
    @media(min-width:1000px){
      .intro {
        margin: 0 20vw;
        margin-top: 5vh;
      }
    }
  }
}
