@import "./variables.scss";

.main {
  position: relative;
  .splashContainer {
    display: flex;
    justify-content: center;
    .container{
      display:flex;
      box-shadow: 0 0 5px black;
      width: 90%;
      img{
        height:100%;
        width:100%;
      }
      @media(min-width:1000px){
        width:70%;
      }
      @media(min-width:1200px){
        width:45%;
      }
    }
  }
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
    z-index: 1;
    margin-top: 2.5rem;
    h1 {
      line-height: 2.4rem;
      color: $light-blue;
      font-size: 3rem;
      font-weight: 300;
      span {
        color: black;
        padding-left: 4rem;
      }
    }
    p {
      border-left: 3px solid $light-blue;
      margin: 0 1rem;
      margin-top: 5vh;
      font-size: 1.2rem;
      font-weight: 300;
      padding-left: 1rem;
      text-align: left;
    }
    @media(min-width:1000px){
      .intro {
        margin: 0 20vw;
        margin-top: 5vh;
      }
    }
  }
}
.articlesTitle{
  text-align:center;
  font-size:2rem;
  font-weight:300;
  color:white;
  box-shadow:0 0 5px black;
  background:rgb(46, 105, 139);
  margin:2rem 5vw;
}
.articles{
  display:flex;
  justify-content:center;
  margin-bottom:1rem;
  width:100%;
  @media(min-width:1000px){
    height:40vh;
  }
  .list{
    width:60%;
    display:flex;
    align-items:center;
    flex-direction:column;
    @media(min-width:1000px){
      justify-content:space-evenly;
      flex-direction:row;
      width:80%;
    }
  }
  .article{
    display:flex;
    justify-content:center;
    
    @media(min-width:1000px){
      width:30%;
      height:100%;
    }
  }
}

