@import "./variables.scss";

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.container {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading {
    animation: spin 1s infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    font-size: 4rem;
    @media(min-width:1200px){
        font-size:6rem;
    }
}


  .icon{
    margin-top:10vh;
    font-size:2rem;
  }

