@import "./variables.scss";

$background:rgb(102, 102, 102);
// $background:rgb(0, 6, 37);
.main{
    h1{
        font-size:2.5rem;
        text-align:center;
        color:$light-blue;
        font-weight:300;
        margin-bottom:1rem;
    }
}
.titleContainer{
    padding:.5rem .5rem;
    color:black;
    font-family:"Shippori Mincho B1";
    font-weight:600;
    font-size:1.3rem;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    @media(min-width:1200px){
    }
    h4{
        text-align:center;

    }
}
.articleListContainer{
    display:flex;
    align-items:center;
    flex-direction:column;
    @media(min-width:800px){
        width:60%;
    }
    @media(min-width:1200px){
        width: 60%;
    }
}
.container{
    display:flex;
    justify-content:center;
}
.article{
    border-bottom:1px solid $light-blue;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;
    width:60%;
    margin-bottom:2rem;
    padding-bottom:1rem;
    @media(min-width:1200px){
        width:55%;
    }
    cursor:pointer;
}