@import "./variables.scss";

.main{
    padding:1rem;
    min-height:100vh;
    background:$bg-main;
    color:$text-main;
}

.title,.heading{
    font-weight:300;
    color:$accent-main;
    text-align:center;
}

.title{
    font-size:2.5rem;
}

.heading{
    margin-top:.3rem;
    font-size:1.2rem;
}

.submit{
    margin:1rem 0;
    display:flex;
    justify-content:center;
}

@media(min-width:900px){
    .main{
        padding:1rem 25vw;
    }
}
@media(min-width:1800px){
    .main{
        padding:1rem 35vw;
    }
}