@import "./variables.scss";


.container{
    
    @include main();
}
.main{
    padding:1rem;
    @media(min-width:900px){
            padding:1rem 25vw;
    }
    @media(min-width:1800px){
            padding:1rem 35vw;
    }
}

.title,.heading{
    font-weight:300;
    color:$accent-main;
    text-align:center;
}

.title{
    font-size:2.5rem;
}

.heading{
    margin-top:.3rem;
    font-size:1.2rem;
}

.form{
    background:$bg-main;
    option{
        color:black;
    }
}

.submit{
    margin:1rem 0;
    display:flex;
    justify-content:center;
}
