@import "./variables.scss";

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  @media(min-width:800px){
    margin:0 25vw;
  }
}
.label {
  font-weight: 500;
  font-size:1.2rem;
  text-align:center;
}
.plusContainer {
  display:none;
  font-size: 3rem;
  padding: 1rem;
  color: black;
  transition: color 300ms;
  cursor: pointer;
  &:hover {
    color: $light-blue;
  }
}

.tables{
  width:100%;
}

.itemList{
  width:100%;
  display:flex;
  flex-direction:column;
}
