$light-blue: #13daec;
$bg-main: #1a202c;
$accent-main: #93f3fe;
$text-main: white;

@mixin flexColumnCenter() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin main() {
  background: $bg-main;
  color: $text-main;
  min-height: 100vh;
}
